<?xml version="1.1" encoding="UTF-8"?>
<Configuration status = "WARN">
<!-- setting properties-->
	<Properties>
	<!-- Logs will be stored in a folder named logs-->
	<Property name = "filename">./logs</Property>
	</Properties>
<!-- Appenders section-->
	<Appenders>
		<!-- Console log Appender-->
		<Console name = "console" target = "SYSTEM_OUT">
			<PatternLayout pattern = "%msg%n"/>
		</Console>
		
		<!-- File log Appender-->
		<RollingFile name = "file" filePattern = "${filename}/On_%d{dd-MM-YYYY}_AT_%d{HH-mm-ss-sss}.log">
			<PatternLayout pattern = "%d %level %logger %t %msg%n"/>
			<SizeBasedTriggeringPolicy size = "20MB"/>
		</RollingFile>
	</Appenders>
<!-- Loggers Section-->
	<Loggers>
	<!-- Root logger parent of all the loggers-->
		<Root level = "trace">
		<!-- Adding appender reference so that the Root logger can print to console-->
			<AppenderRef ref = "console"/>
		</Root>
	<!--logger for package "com.lockers.lockedMe", additivity is set to true so that Root logger can also print the logs-->
		<Logger name = "com.lockers.lockedMe" level = "trace" additivity = "true" >
		<!-- Adding appender reference so that the Root logger can print to file-->
			<AppenderRef ref = "file"/>
		</Logger>
	</Loggers>
</Configuration>